# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.db
*.db-shm
*.lock
*.vsidx
*.db-wal
*.opendb
*.ipch
*.log
*.res
*.tlog
*.recipe
src/engine/Doom64EXPlus/Debug/Doom64EXPlus.vcxproj.FileListAbsolute.txt
src/engine/Doom64EXPlus/.vs/Doom64EXPlus/v17/.suo
src/engine/Doom64EXPlus/Doom64EXPlus.vcxproj.user
*.iobj
*.ipdb
src/engine/Doom64EXPlus/Release/Doom64EXPlus.vcxproj.FileListAbsolute.txt
