# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.db
*.db-shm
*.lock
*.vsidx
*.db-wal
*.opendb
*.ipch
*.log
*.res
*.tlog
*.recipe
*.iobj
*.ipdb

# macOS files
*.DS_Store

# Doom 64 EX Plus Installer specific
/Setup/Setup-cache/part*/*.cab
/Setup/Setup-cache/part*/*.ini
/Setup/Setup-cache/*.txt
/Setup/Setup-SetupFiles/Doom64EX+ Setup.msi

# Doom 64 EX Plus specific
/Windows/.vs
/Windows/Debug
/Windows/Release
/Windows/x64
Windows/Doom64EX-Plus Launcher.vcxproj.user
Windows/Doom64EXPlus.vcxproj.user
.DS_Store
src/engine/.DS_Store
*.user
*.bak
Windows/DOOM64EX+/x64/Release/Doom64EX+.vcxproj.FileListAbsolute.txt
Windows/DOOM64EX+/x64/Debug/Doom64EX+.vcxproj.FileListAbsolute.txt
/Xcode/*.dylib
/XCode/DOOM64EXPlus.xcodeproj/project.xcworkspace/xcuserdata

# CMake build directory
build*/

# Zip files
*.zip